In [1]:
import pandas as pd
import numpy as np

dogs=pd.read_csv('dog.csv')
dogs.head()

,AnimalName,animalclass,animalbreed,animalcolour,animalgender,animaldesexed,suburb_name
0,Sheldon,Non-Standard - Concession,German Shepherd Dog,Black,M,N,NORTH HAVEN
1,Coco,Non-Standard - Concession,Jack Russell Terrier,Gold,F,N,NORTH HAVEN
2,Penny,Standard - Both desexed & microchipped,Beagle,Brown,F,Y,NORTH HAVEN
3,Daisy,Standard - Both desexed & microchipped,Cavalier King Charles Spaniel,Blenheim,F,Y,NORTH HAVEN
4,Max,Non-Standard - Not desexed/microchipped,Maltese,White,M,Y,NORTH HAVEN

In [2]:
dogs_df=dogs[:20]

In [11]:
def age_categorized(color):
    if color=='Black':
        return 20
    elif color=='White':
        return 35
    elif color=='Gold':
        return 32
    elif color=='Brown':
        return 25
    elif color=='Tan':
        return 23
    elif color=='Blenheim':
        return 33
    else:
        return 30

In [12]:
dogs_df.loc[:,'Age']=dogs_df['animalcolour'].apply(age_categorized)

In [13]:
dogs_df

,AnimalName,animalclass,animalbreed,animalcolour,animalgender,animaldesexed,suburb_name,Age
0,Sheldon,Non-Standard - Concession,German Shepherd Dog,Black,M,N,NORTH HAVEN,20
1,Coco,Non-Standard - Concession,Jack Russell Terrier,Gold,F,N,NORTH HAVEN,32
2,Penny,Standard - Both desexed & microchipped,Beagle,Brown,F,Y,NORTH HAVEN,25
3,Daisy,Standard - Both desexed & microchipped,Cavalier King Charles Spaniel,Blenheim,F,Y,NORTH HAVEN,33
4,Max,Non-Standard - Not desexed/microchipped,Maltese,White,M,Y,NORTH HAVEN,35
5,Molly,Standard - Both desexed & microchipped,Maltese,White,F,Y,NORTH HAVEN,35
6,Sasha,Standard - Both desexed & microchipped,Alaskan Malamute,Black,F,Y,NORTH HAVEN,20
7,Madison,Standard - Both desexed & microchipped,Maltese,Tan,F,Y,NORTH HAVEN,23
8,Barney,Standard - Both desexed & microchipped,Maltese,White,M,Y,NORTH HAVEN,35
9,Jenna,Standard - Both desexed & microchipped,Labrador Retriever,White,F,Y,NORTH HAVEN,35
10,Harvey,Standard - Both desexed & microchipped,Maltese,White,M,Y,NORTH HAVEN,35
11,Zoe,Non-Standard - Not desexed/microchipped,Jack Russell Terrier,Sable,F,N,NORTH HAVEN,30
12,Toto,Standard - Both desexed & microchipped,Jack Russell Terrier,Tan,M,Y,NORTH HAVEN,23
13,Bella,Standard - Both desexed & microchipped,Dachshund,Black,F,Y,NORTH HAVEN,20
14,Gunda,Non-Standard - Not desexed/microchipped,Staffordshire Bull Terrier,White,F,Y,NORTH HAVEN,35
15,Gee,Non-Standard - Not desexed/microchipped,Staffordshire Bull Terrier,Brindle,M,N,NORTH HAVEN,30
16,Ollie,Standard - Pension,Shih Tzu,Cream,M,Y,NORTH HAVEN,30
17,Mia,Standard - Pension,Maltese,Black,F,Y,NORTH HAVEN,20
18,Stella,Standard - Both desexed & microchipped,Greyhound,Blue,F,Y,NORTH HAVEN,30
19,Trooper,Standard - Both desexed & microchipped,Greyhound,Black,M,Y,NORTH HAVEN,20

In [16]:
dogs_df_df=dogs_df.pivot_table(values='Age',index='animalbreed',columns='animalcolour',fill_value=0)

animalcolour,Black,Blenheim,Blue,Brindle,Brown,Cream,Gold,Sable,Tan,White
animalbreed,,,,,,,,,,
Alaskan Malamute,20,0,0,0,0,0,0,0,0,0
Beagle,0,0,0,0,25,0,0,0,0,0
Cavalier King Charles Spaniel,0,33,0,0,0,0,0,0,0,0
Dachshund,20,0,0,0,0,0,0,0,0,0
German Shepherd Dog,20,0,0,0,0,0,0,0,0,0
Greyhound,20,0,30,0,0,0,0,0,0,0
Jack Russell Terrier,0,0,0,0,0,0,32,30,23,0
Labrador Retriever,0,0,0,0,0,0,0,0,0,35
Maltese,20,0,0,0,0,0,0,0,23,35
Shih Tzu,0,0,0,0,0,30,0,0,0,0
Staffordshire Bull Terrier,0,0,0,30,0,0,0,0,0,35

In [18]:
dogs_df

,AnimalName,animalclass,animalbreed,animalcolour,animalgender,animaldesexed,suburb_name,Age
0,Sheldon,Non-Standard - Concession,German Shepherd Dog,Black,M,N,NORTH HAVEN,20
1,Coco,Non-Standard - Concession,Jack Russell Terrier,Gold,F,N,NORTH HAVEN,32
2,Penny,Standard - Both desexed & microchipped,Beagle,Brown,F,Y,NORTH HAVEN,25
3,Daisy,Standard - Both desexed & microchipped,Cavalier King Charles Spaniel,Blenheim,F,Y,NORTH HAVEN,33
4,Max,Non-Standard - Not desexed/microchipped,Maltese,White,M,Y,NORTH HAVEN,35
5,Molly,Standard - Both desexed & microchipped,Maltese,White,F,Y,NORTH HAVEN,35
6,Sasha,Standard - Both desexed & microchipped,Alaskan Malamute,Black,F,Y,NORTH HAVEN,20
7,Madison,Standard - Both desexed & microchipped,Maltese,Tan,F,Y,NORTH HAVEN,23
8,Barney,Standard - Both desexed & microchipped,Maltese,White,M,Y,NORTH HAVEN,35
9,Jenna,Standard - Both desexed & microchipped,Labrador Retriever,White,F,Y,NORTH HAVEN,35
10,Harvey,Standard - Both desexed & microchipped,Maltese,White,M,Y,NORTH HAVEN,35
11,Zoe,Non-Standard - Not desexed/microchipped,Jack Russell Terrier,Sable,F,N,NORTH HAVEN,30
12,Toto,Standard - Both desexed & microchipped,Jack Russell Terrier,Tan,M,Y,NORTH HAVEN,23
13,Bella,Standard - Both desexed & microchipped,Dachshund,Black,F,Y,NORTH HAVEN,20
14,Gunda,Non-Standard - Not desexed/microchipped,Staffordshire Bull Terrier,White,F,Y,NORTH HAVEN,35
15,Gee,Non-Standard - Not desexed/microchipped,Staffordshire Bull Terrier,Brindle,M,N,NORTH HAVEN,30
16,Ollie,Standard - Pension,Shih Tzu,Cream,M,Y,NORTH HAVEN,30
17,Mia,Standard - Pension,Maltese,Black,F,Y,NORTH HAVEN,20
18,Stella,Standard - Both desexed & microchipped,Greyhound,Blue,F,Y,NORTH HAVEN,30
19,Trooper,Standard - Both desexed & microchipped,Greyhound,Black,M,Y,NORTH HAVEN,20