In [2]:
import pandas as pd
import matplotlib.pyplot as plt

dogs=pd.read_csv('dog.csv')
dogs.head()

,AnimalName,animalclass,animalbreed,animalcolour,animalgender,animaldesexed,suburb_name
0,Sheldon,Non-Standard - Concession,German Shepherd Dog,Black,M,N,NORTH HAVEN
1,Coco,Non-Standard - Concession,Jack Russell Terrier,Gold,F,N,NORTH HAVEN
2,Penny,Standard - Both desexed & microchipped,Beagle,Brown,F,Y,NORTH HAVEN
3,Daisy,Standard - Both desexed & microchipped,Cavalier King Charles Spaniel,Blenheim,F,Y,NORTH HAVEN
4,Max,Non-Standard - Not desexed/microchipped,Maltese,White,M,Y,NORTH HAVEN

In [3]:
doogdogs['animalcolour'].value_counts()

animalcolour
Black             4148
White             2991
Tan               1333
Brown             1017
Brindle            644
Gold               641
Red                558
Tri Colour         547
Blue               333
Cream              287
Fawn               273
Grey               247
Chocolate          220
Apricot            161
Unknown            152
Sable              137
Salt                93
Yellow              75
Blenheim            74
Dark Brindle        69
Beige               59
Blonde              55
Caramel             54
Sandy               54
Liver               42
Orange              33
Wheaten             30
Honey               30
Silver              28
Ginger              27
Ruby                26
Champagne           22
Wolf Grey           18
Rust                14
Lemon               12
Russett             11
Multi Coloured       9
Biscuit              8
Charcoal             6
Pepper               6
Roan                 5
Chestnut             3
Slate                3
Auburn               2
White & Tan          2
Peach                2
Coffee               2
Smoke                1
Copper               1
Bronze               1
Tan & Black          1
Black & Tan          1
Name: count, dtype: int64